@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.app-container {
  position: relative;
  height: 2000px;
}

body {
  max-width: 1200px; /* 1280px - 2 * 40px */
  margin: 0 auto;
  padding: 0 40px; /* 추가된 부분 */
  font-family: "Pretendard-Regular", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

/* .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
      ellipse at center,
      rgba(254, 252, 252, 0.1) 10%,
      rgba(20, 20, 20, 0.7) 70%,
      rgba(20, 20, 20, 1)
    ),
    url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  transition: transform 0.1s ease;
} */

.background-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* .text-container1 {
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  font-weight: bold;
  transition: opacity 0.3s ease;
} */

.text-container2 {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: bold;
  color: white;
  transition: opacity 0.3s ease;
}

.text-container3 {
  position: absolute;
  z-index: 100;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.text-container4 {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: opacity 0.3s ease;
}

/* swiper */
.swiper-button-next {
  background: url("https://i.ibb.co/VqjGnw1/rightBtn.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  background: url("https://i.ibb.co/qdJYds2/leftBtn.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper .swiper-pagination-bullet {
  background-color: white; /* 비활성화 색상 */
  opacity: 0.5; /* 비활성화된 불릿의 투명도 */
}

.swiper .swiper-pagination-bullet-active {
  background-color: rgb(62, 61, 61); /* 활성화 색상 */
  opacity: 1; /* 활성화된 불릿의 투명도 */
}

.highlight {
  color: rgb(255, 255, 255);

  background-color: #5fd100 !important;
  border-radius: 100px;
}

.react-calendar {
  width: 280px !important;
  height: 300px !important;
  max-width: 100%;
  padding: 10px;
  background: rgb(245, 245, 245) !important;
  border: none !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 10px;
  font-size: 15px;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: rgb(245, 245, 245) !important;
}

.react-calendar__month-view__weekdays {
  color: rgb(94, 94, 94);
}

/* 주말 색깔 */
.react-calendar__month-view__days__day--weekend {
  color: #d80000 !important;
}

.react-calendar__navigation__label {
  background-color: rgb(245, 245, 245);
}

@layer components {
  .btn-sidebar {
    @apply text-gray-400 font-normal leading-6 hover:text-[#10C800] focus:text-[#10C800];
  }
}

@layer components {
  .btn-profile-topbar {
    @apply overflow-hidden text-gray-300 text-ellipsis text-[14px] font-bold leading-[14px] hover:underline focus:text-gray-900;
  }
}

@layer components {
  .badge-ctn-profile {
    @apply border-2 border-solid border-black flex flex-col items-center gap-2;
  }
}

@layer components {
  .badge-image {
    @apply w-[88px] h-[88px] rounded-full;
  }
}

@layer components {
  .badge-text {
    @apply text-gray-500 text-[14px] font-normal leading-[14px];
  }
}

.categoryBtn {
  border-radius: 16px;
  border: 1px solid gray;
  width: auto;
  padding: 6px 12px 5px 12px;
  font-size: small;
  margin-right: 5px;
  line-height: 1;
}

.categoryBtn.active {
  color: #5fd100;
  border-color: #5fd100;
}

/* intro 깜빡거리는 arrow */

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1.5s infinite;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}
/*width*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none !important;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: none !important;
  color: black !important;
  pointer-events: none !important;
}

.react-calendar__tile--active:hover,
.react-calendar__tile--active:focus {
  background: none !important;
  pointer-events: none !important; /* 이벤트 처리를 비활성화합니다. */
}

.react-calendar__tile--now {
  background: none !important;
  pointer-events: none !important;
  color: black !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  pointer-events: none !important;
  color: black !important;
}
